.car__container {
   max-width: 1280px;
   margin: 0 auto;
   min-height: 720px;
   position: relative;
}

.wheel {
   width: 180px;
   height: 180px;
}

.wheel_front {
   position: absolute;
   left: 847px;
   top: 393px;
}

.wheel_rear {
   position: absolute;
   left: 193px;
   top: 393px;
}

.wheel__rubber {
   width: 100%;
   height: 100%;
   border-radius: 50%;
   border: 3px solid black;
   background: rgb(29, 29, 29);
   background: radial-gradient(circle, rgb(29, 29, 29) 58%, rgb(50, 50, 50) 72%, rgb(0, 0, 0) 100%);
}

.wheel__disk {
   position: absolute;
   width: 130px;
   height: 130px;
   background: #fff;
   border-radius: 50%;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   border: 8px solid #fff;
   background: rgb(228, 228, 228);
   background: radial-gradient(circle, rgba(228, 228, 228, 1) 60%, rgba(89, 89, 89, 1) 88%, rgba(255, 255, 255, 1) 100%);
}

.wheel__ring {
   border: 4px solid #e4e4e4;
   position: absolute;
   width: 90%;
   height: 90%;
   border-radius: 50%;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 99;
}

.wheel__element {
   position: absolute;
   width: 100%;
   height: 100%;

}

.wheel__holl {
   border-radius: 50% 50% 100% 0% / 50% 0% 100% 50%;
   background: #000;
   width: 33px;
   height: 33px;
   position: absolute;
   bottom: 12px;
   right: 12px;
}

.wheel__element_two {
   transform: rotate(72deg);
}

.wheel__element_three {
   transform: rotate(144deg);
}

.wheel__element_four {
   transform: rotate(216deg);
}

.wheel__element_five {
   transform: rotate(288deg);
}

.wheel__mount {
   position: absolute;
   border-radius: 50%;
   width: 40px;
   height: 40px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: rgb(228, 228, 228);
   background: radial-gradient(circle, rgba(228, 228, 228, 1) 49%, rgba(89, 89, 89, 1) 89%, rgba(255, 255, 255, 1) 100%);
}

.wheel__center {
   position: absolute;
   border-radius: 50%;
   width: 20px;
   height: 20px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: #000;
}

.bottom__left {
   border-radius: 0% 100% 0% 100% / 70% 0% 100% 30%;
   position: absolute;
   background: #f00;
   width: 166px;
   height: 77px;
   top: 463px;
   left: 76px;
}

.bottom__middle {
   position: absolute;
   background: #f00;
   width: 471px;
   height: 85px;
   left: 376px;
   top: 463px;
}

.bottom__right {
   border-radius: 83% 17% 100% 0% / 0% 78% 22% 100%;
   position: absolute;
   background: #f00;
   width: 183px;
   height: 76px;
   top: 470px;
   left: 1011px;
}

.top__hood {
   border-radius: 8% 92% 100% 0% / 15% 100% 0% 85%;
   position: absolute;
   background: #f00;
   width: 373px;
   height: 103px;
   top: 368px;
   left: 797px;
}

.top__middle {
   border-radius: 100% 0% 100% 0% / 14% 100% 0% 86%;
   position: absolute;
   background: #f00;
   width: 131px;
   height: 88px;
   top: 375px;
   left: 673px;
}

.top__left {
   border-radius: 0% 100% 0% 100% / 100% 26% 74% 0%;
   position: absolute;
   background: #f00;
   width: 643px;
   height: 107px;
   top: 364px;
   left: 73px;
}

.roof__left {
   border-radius: 100% 0% 100% 0% / 100% 100% 0% 0%;
   position: absolute;
   background: #f00;
   width: 418px;
   height: 79px;
   top: 292px;
   left: 73px;
}

.roof__middle {
   border-radius: 34% 66% 100% 0% / 23% 100% 0% 77%;
   position: absolute;
   background: #f00;
   width: 211px;
   height: 16px;
   top: 290px;
   left: 482px;
}

.roof__front {
   position: absolute;
   background: #f00;
   width: 158px;
   height: 6px;
   top: 340px;
   left: 670px;
   transform: rotate(31deg);
}

.roof__window {
   position: absolute;
   background: #fff;
   width: 103px;
   height: 83px;
   top: 326px;
   left: 461px;
   transform: rotate(33.5deg);
}

.decoration__window-bottom-right {
   position: absolute;
   background: #000;
   width: 124px;
   height: 6px;
   top: 376px;
   left: 670px;
   transform: rotate(-3deg);
}

.decoration__window-bottom-left {
   position: absolute;
   background: #000;
   width: 223px;
   height: 6px;
   top: 371px;
   left: 448px;
   transform: rotate(4.1deg);
}

.decoration__window-vertical-left {
   position: absolute;
   background: #000;
   width: 74px;
   height: 6px;
   top: 333px;
   left: 434px;
   transform: rotate(-56deg);
}

.decoration__window-vertical-right {
   position: absolute;
   background: #000;
   width: 137px;
   height: 6px;
   top: 338px;
   left: 667px;
   transform: rotate(31deg);
}

.decoration__window-vertical-middle {
   position: absolute;
   background: #000;
   width: 86px;
   height: 6px;
   top: 341px;
   left: 652px;
   transform: rotate(60deg);
}

.decoration__window-top {
   position: absolute;
   background: #000;
   width: 188px;
   height: 6px;
   top: 303px;
   left: 490px;
}

.decoration__middle-line {
   position: absolute;
   background: #000;
   width: 1096px;
   height: 6px;
   top: 467px;
   left: 74px;
}

.decoration__rear-wheel-arc {
   position: absolute;
   border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
   background: #fff;
   width: 214px;
   height: 227px;
   top: 393px;
   left: 176px;
}

.decoration__front-wheel-arc {
   position: absolute;
   border-radius: 50% 50% 50% 50% / 70% 50% 50% 30%;
   background: #fff;
   width: 202px;
   height: 227px;
   top: 394px;
   left: 831px;
}

.decoration__front-light {
   position: absolute;
   border-radius: 0% 100% 100% 0% / 100% 86% 14% 0%;
   background: rgb(185, 226, 223);
   width: 106px;
   height: 38px;
   top: 418px;
   left: 1046px;
}